@{
    ViewData["Title"] = "Home Page";
}

<div class="card-header">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div>Eiusmod ut cupidatat tempor tempor id nostrud cillum labore nostrud sint reprehenderit exercitation do ad velit ut cillum irure ut irure et tempor consectetur dolor sunt quis lorem et reprehenderit sed aute duis ad amet incididunt laboris deserunt nulla fugiat eu aliqua incididunt do consequat fugiat cupidatat lorem proident sunt eu do aliquip lorem ullamco magna magna ut voluptate proident aliquip ullamco ea quis dolore consectetur do ad in irure do exercitation culpa proident eu velit ullamco lorem nulla occaecat minim veniam enim lorem reprehenderit ut anim laboris et deserunt sunt in eu sint laboris non occaecat minim pariatur cupidatat</div>
</div>
